127.0.0.1:80 172.21.27.153:80 {
# 告诉caddy你的网站是通过这串链接访问的，80默认http，不加80则默认使用https，也就是443端口如果想用域名，需要保证电脑会解析该域名到目标IP（本地就是改hosts文件）
        php_fastcgi 127.0.0.1:9001 {
        # 调用php_fastcgi, 127.0.0.1:9001是之前编辑www.conf时修改的监听地址，两者要统一
                root /usr/local/www
                # 网站根目录，自己指定
                split .php
                # 用于将url拆分成两部分，第一部分是从路径中拆分出“路径信息”，第二部分是后缀，以便caddy能够将指定后缀交给正确目标，比如上面的“.php”，则是告诉caddy，当遇到访问“.php”结尾的资源时，将该资源交给“php_fastcgi”处理               
                index index.php
                # 网站的默认起始文件，如果url没有指定资源名称，则默认访问该文件
        }
}
